<div class="content-container-fluid">
    <div class="row">
        <div class="cols-sample-area">
            <div class="e-container-schedule">
                {{ej-schedule id="schedule" e-width="100%" e-height="525px" e-readOnly=true e-currentDate=model.currentDate e-appointmentSettings=model.appointmentSettings
                }}
            </div>
        </div>
    </div>
</div>
{{outlet}}