
 <div class="content-container-fluid">
        <div class="row">
            <div class="cols-sample-area">
                <div style="width: 100%; height: 350px;">
                     {{
                ej-treemap id="TreeMap"
                e-dataSource = model.dataSource
                e-isHierarchicalDatasource= model.isHierarchicalDatasource
                e-borderBrush = model.borderBrush
                e-tooltipTemplate=model.tooltipTemplate
                e-borderThickness = model.borderThickness
                e-showTooltip=model.showTooltip
                e-colorValuePath = model.colorValuePath               
                e-weightValuePath=model.weightValuePath               
                e-leafItemSettings=model.leafItemSettings                
                e-desaturationColorMapping=model.desaturationColorMapping
                e-levels=model.levels
                }}
                </div>
            </div>
        </div>
    </div>



<script id="tooltiptemp" type="x-handlebars">

        <table style="background-color:#222222;width: 166px;height: 107px;">
            <tr>
                <td colspan="3">
                    <label style="font-size:18px;color:white;margin-left:10px;opacity:0.8;font-weight:normal;">\{{:Country}}</label>
                </td>
            </tr>
            <tr>
                <td> <label style="font-size:14px;color:white;margin-left:10px;opacity:0.8;font-weight:normal;">Region</label></td>
                <td> <label style="font-size:14px;color:white;margin-left:10px;opacity:0.8;font-weight:normal;">:</label></td>
                <td colspan="3"> <label style="font-size:14px;color:white;margin-left:10px;opacity:0.8;font-weight:normal;">\{{:Name}}</label></td>
                <td style="width:20px;"></td>
            </tr>
            <tr>
                <td> <label style="font-size:14px;color:white;margin-left:10px;opacity:0.8;font-weight:normal;">Sales</label></td>
                <td> <label style="font-size:14px;color:white;margin-left:10px;opacity:0.8;font-weight:normal;">:</label></td>
                <td colspan="3"> <label style="font-size:14px;color:white;margin-left:10px;opacity:0.8;font-weight:normal;">\{{:Sales}}</label></td>
            </tr>
            <tr>
                <td> <label style="font-size:14px;color:white;margin-left:10px;opacity:0.8;font-weight:normal;">Expense</label></td>
                <td> <label style="font-size:14px;color:white;margin-left:10px;opacity:0.8;font-weight:normal;">:</label></td>
                <td colspan="3"> <label style="font-size:14px;color:white;margin-left:10px;opacity:0.8;font-weight:normal;">\{{:Expense}}</label></td>
            </tr>
            <tr></tr>
            <tr></tr>
        </table>
    </script>
    <script id="headertemplate" type="x-handlebars">

        <div>
            <label style="color:gray;font-size:18px;;font-weight:normal;margin-left:5px;" id="Label1">\{{:header}}</label><br />
        </div>
    </script>
    <script id="labeltemplate" type="x-handlebars">

        <div align="center" style="width:120px; height:120px;background-image:url('content/images/treemap/circle.png');">
            <table style="text-align:center;margin-left:-10px; margin-top:10px;">

                <tr>
                    <td></td>
                    <th>
                        <div style="margin-top:10px;margin-left:10px;">
                            <label style="color:white;font-size:16px;font-weight:normal;" id="Label2">Sales</label>
                        </div>
                    </th>

                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div style="margin-top:-5px;">
                            <label style="color:white;font-size:15px;font-weight:normal;" id="Label5">98486</label>
                        </div>
                    </td>
                </tr>


                <tr />

                <tr>
                    <td></td>
                    <th>
                        <div style="margin-top:3px;margin-left:2px;">
                            <label style="color:white;font-size:16px;margin-top:-5px;font-weight:normal;" id="Label3">Expense</label>
                        </div>
                    </th>
                </tr>
                <tr>

                    <td></td>
                    <td>
                        <div style="margin-top:-5px;">
                            <label style="color:white;font-size:15px;font-weight:normal;" id="Label4">87000</label>
                        </div>
                    </td>
                </tr>
            </table>

        </div>
    </script>

{{outlet}}