<div class="content-container-fluid">
    <div class="row">
        <div class="cols-sample-area">
             {{ej-sunburstchart id="SunburstChart"
                e-dataSource=model.dataSource
                e-palette=model.palette
                e-valueMemberPath = model.valueMemberPath
                e-levels = model.levels
                e-dataLabelSettings=model.dataLabelSettings
                e-tooltip=model.tooltip
                e-innerRadius=model.innerRadius
                e-size=model.size
                e-title = model.title
                e-enableAnimation=model.enableAnimation
                e-zoomSettings=model.zoomSettings
              }}
        </div>
    </div>
</div>



{{outlet}}