<div class="content-container-fluid">
    <div class="row">
        <div class="cols-sample-area">
            <div class="e-container-spreadsheet">
                {{ej-autocomplete id="autocomplete" e-dataSource=model.dataSource e-query=model.query e-filterType=model.filterType e-fields=model.fields e-width=model.width e-watermarkText=model.watermarkText }}
            </div>
        </div>
    </div>
</div>
{{outlet}}