<div class="content-container-fluid">
    <div class="row">
        <div class="cols-sample-area">
            <div class="frame">
                {{ej-autocomplete id="multi" e-dataSource=model.dataSource e-multiColumnSettings=model.multiColumnSettings e-highlightSearch=model.highlightSearch e-showPopupButton=model.showPopupButton   e-width=model.width e-watermarkText=model.watermarkText
                }}
            </div>
           
        </div>
    </div>
</div>
{{outlet}}