<div class="content-container-fluid">
    <div class="row">
        <div class="cols-sample-area">
                {{ej-chart id="Chart" e-primaryXAxis=model.primaryXAxis e-primaryYAxis=model.primaryYAxis 
                e-commonSeriesOptions=model.commonSeriesOptions
                e-series=model.series 
                e-isResponsive=model.isResponsive 
                e-title=model.title 
                e-size=model.size 
                e-legend=model.legend }}
        </div>
    </div>
</div>
{{outlet}}