<div class="content-container-fluid">
    <div class="row">
        <div class="cols-sample-area" align="center">
                {{ej-bulletgraph id="Bulletgraph"
                e-height= model.height
                e-enableAnimation = model.enableAnimation
                e-qualitativeRangeSize=model.qualitativeRangeSize
                e-quantitativeScaleLength=model.quantitativeScaleLength
                e-tooltipSettings=model.tooltipSettings
                e-orientation=model.orientation
                e-flowDirection=model.flowDirection
                e-quantitativeScaleSettings=model.quantitativeScaleSettings
                e-fields=model.fields
                e-qualitativeRanges=model.qualitativeRanges
                e-captionSettings=model.captionSettings
                }}

         </div>
    </div>
</div>
<div id="Tooltip" style="display:none; width:125px;padding-top: 10px;padding-bottom:10px">      
    <div align="center" style="font-weight:bold">
        Production
    </div>                
    <table>
        <tr>
            <td>Production level</td>
            <td>: \{{:currentValue}}</td> 
        </tr>
        <tr>
            <td>Estimated level</td>
            <td>: \{{:targetValue}}</td>             
        </tr>
        <tr>
            <td>Product ID</td>
            <td >: \{{:category}}</td>             
        </tr>                          
    </table>            
</div>
{{outlet}}