<div class="content-container-fluid">
    <div class="row">
        <div class="cols-sample-area">
            <div class="frame" align="center">
               {{ej-toolbar id="toolbardata" e-dataSource=model.dataSource e-query=model.query e-fields=model.fields e-width=model.width}}
            </div>
		</div>
	</div>
</div>
{{outlet}}